<uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="status.open">
        <uib-accordion-heading ng-click="display()">
            <span>Employment</span><i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status.open, 'glyphicon glyphicon-plus': !status.open}"></i>
        </uib-accordion-heading>

        <uib-accordion>
            <div uib-accordion-group class="panel-default"  is-open="status1.open">
                <uib-accordion-heading ng-click="display(1)">
                    <span class="section-title">AngularJS & Java Web Developer,</span>
                    <span class="company-name"> Sogeti USA － Baltimore, MD</span>
                    <span class="pull-right employment-duration">Feb 2016 to Current<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status1.open, 'glyphicon glyphicon-plus': !status1.open}"></i></span>
                </uib-accordion-heading>
                <div class="panel-body">
                    <ul>
                        <li>Web application development using J2EE, REST, Spring MVC and WebSphere portal, UI development using Angular JS and JQuery</li>
                        <li>Creating secure, user friendly, fast web application with web analytics</li>
                        <li>Writing unit tests using JUnit</li>
                        <li>Created proof-of-concept prototype applications for demonstration and evaluation purposes</li>
                        <li>Support testing, including review of test cases and procedures, helping to plan and execute performance tests, evaluate results</li>
                        <li>Updated, modified and expanded existing software programs</li>
                        <li>Organized and held meetings with stakeholders, contractor product teams and customers</li>
                    </ul>
                </div>
            </div>
        </uib-accordion>

        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status2.open">
                <uib-accordion-heading ng-click="display(2)">
                    <span class="section-title">Software Developer Intern,</span>
                    <span class="company-name"> AmerisourceBergen Corp － Charlotte, NC</span>
                    <span class="pull-right employment-duration">Jun '15 to Aug '15<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status2.open, 'glyphicon glyphicon-plus': !status2.open}"></i></span>
                </uib-accordion-heading>
                <div class="panel-body">
                    <ul>
                        <li>Worked on J2EE , Spring MVC and REST Web service</li>
                        <li>Developed a dynamic web interface using Angular JS and HTML</li>
                        <li>Worked on the development of new features and enhancements</li>
                        <li>Attending and coordinating the meetings with supervisor on the project status and issues to be fixed.</li>
                        <li>Involved in with client interactions for UAT</li>
                    </ul>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status3.open">
                <uib-accordion-heading ng-click="display(3)">
                    <span class="section-title">Web Developer,</span>
                    <span class="company-name"> Triveni Indian Students Association － Charlotte, NC</span>
                    <span class="pull-right employment-duration">Dec '14 to Dec '15<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status3.open, 'glyphicon glyphicon-plus': !status3.open}"></i></span>
                </uib-accordion-heading>
                <div class="panel-body">
                    <ul>
                        <li>Designed and developed a cross browser compatible, user facing web application for Indian Students Association at University of North Carolina at Charlotte</li>
                        <li>Responsible for Requirements gathering, Design Analysis and leading the team</li>
                    </ul>
                </div>
            </div>
        </uib-accordion>

        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status4.open">
                <uib-accordion-heading ng-click="display(4)">
                    <span class="section-title">Software Developer,</span>
                    <span class="company-name"> Tata Consultancy Services － Hyderabad, India</span>
                    <span class="pull-right employment-duration">Nov '13 to Jul '14<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status4.open, 'glyphicon glyphicon-plus': !status4.open}"></i></span>
                </uib-accordion-heading>
                <div class="panel-body">
                    <ul>
                        <li>Worked on the development of REST Web Service and Spring framework in Java</li>
                        <li>Developed UI using Angular JS, HTML, Bootstrap CSS and JQuery</li>
                        <li>Incident analysis and defect fixing</li>
                        <li>Coordinated with QA testers for end-to-end unit testing and post-production testing</li>
                        <li>Team mentoring including peer reviewing of code and design</li>
                        <li>Production Incidents Analysis and resolution</li>
                    </ul>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status5.open">
                <uib-accordion-heading ng-click="display(5)">
                    <span class="section-title">Software Developer,</span>
                    <span class="company-name"> Sree Vidyanikethan Educational Institutions － Tirupati, India</span>
                    <span class="pull-right employment-duration">Dec '12 to Aug '13<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status5.open, 'glyphicon glyphicon-plus': !status5.open}"></i></span>
                </uib-accordion-heading>
                <div class="panel-body">
                    <ul>
                        <li>Responsible for Analysis, Design and Development</li>
                        <li>Handling Production issues and modifying the code according to the requirement</li>
                        <li>Designed Graphical User Interface for various web pages using Angular JS, HTML, Bootstrap CSS and JavaScript Designed and created the database for the tool</li>
                        <li>Wrote test cases and performed regression testing</li>
                        <li>Involved in Unit & Functional Testing</li>
                    </ul>
                </div>
            </div>
        </uib-accordion>
    </div>
</uib-accordion>
